.marquee {
    overflow: hidden;
    .content {
        display: flex;
        .list {
            overflow: hidden;
            //  flex 元素的收缩规则。
            flex-shrink: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}